@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #496989;
  --green1:#E2F4C5;
  --green2:#A8CD9F;
  --green3:#58A399;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #496989;
}
h3 {
  font-size: 1.2rem;
  font-weight: bold;
  display:flex;
  justify-content: center;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
}
input, textarea, select {
  border: 1px solid var(--primary-color);
  border-radius: 0.2rem;
  padding: 5px;
}
hr { 
  height:1px;
  width: 100%;
  border: 1px solid var(--primary-color);
}
button {
  background-color: white;
  border: 1px solid var(--primary-color);
  padding: 0.2rem 1.8rem;
  border-radius: 0.3rem;
}
.button_primary {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;  
}
